
* {
  margin: 0;
  padding: 0;
}

.App {
  background: #e3e3e3;
  height: 100vh;
}


.Header {
  text-align: center;
  padding-top: 40px;
}

.Header p {
  margin-top: 20px;
}

.Form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Form input {
  padding: 5px;
  margin: 10px;
  width: 200px;
  text-align: center;
  /* border-radius: 5px; */
}

.Weather {
  text-align: center;
  margin-top: 20px;
}

.Weather-temp {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Weather-temp p {
  margin: 10px;
}

.Weather-sun p {
  margin: 10px;
}








